$rosa: #F46197;
$azul: #51BBFE;
$verde: #8FF7A7;
$blanco: #FFF;


$font-delirius: 'Delius Unicase', cursive;
$font-comingSoon: 'Coming Soon', cursive;

$container-width: 100%;
$img-width: 90%;

$padding-l: 7%;

$font-size: 1.3em;